# Build artifacts
.build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode
*.xcuserstate
*.xcscmblueprint
